In [6]:
import os
import pandas as pd

In [7]:
path="Linkedin Job Description and compnay info Scrapped Files/1st Week 26 Sep-02 Oct/30_Sep_2023"

In [8]:
dir_list = os.listdir(path)
dir_list

['Linkedin_Job-Descriptions-company_details_30-Sep-2023_170-jobs_7-pages-p1-058.csv',
 'Linkedin_Job-Descriptions-company_details_30-Sep-2023_170-jobs_7-pages-p2-59-169.csv']

In [9]:
len(dir_list)

2

In [10]:
file_names=[]
for i in range(1,len(dir_list)+1):
    for file in dir_list:
        if int(file.split('-')[7].strip('p'))==i:
            file_names.append(file)
file_names

['Linkedin_Job-Descriptions-company_details_30-Sep-2023_170-jobs_7-pages-p1-058.csv',
 'Linkedin_Job-Descriptions-company_details_30-Sep-2023_170-jobs_7-pages-p2-59-169.csv']

In [11]:
df_concat=None
for file in file_names:
    df=pd.read_csv(path+'/'+file)
    df_concat=pd.concat([df_concat,df],ignore_index=True)

In [12]:
df_concat

,Job Link,Job Desception,Company Info
0,https://www.linkedin.com/jobs/view/3631035048,About the job\n \n\n \nWho are we? ...,Software Development\n \n ...
1,https://www.linkedin.com/jobs/view/3728806847,About the job\n \n\n \nAbout Gelato...,Internet Marketplace Platforms\n \n...
2,https://www.linkedin.com/jobs/view/3712059465,About the job\n \n\n \nPosition Lea...,NaN
3,https://www.linkedin.com/jobs/view/3723011973,About the job\n \n\n \nCrossover is...,IT Services and IT Consulting\n \n ...
4,https://www.linkedin.com/jobs/view/3729936457,About the job\n \n\n \nAs a Managem...,IT Services and IT Consulting\n \n ...
...,...,...,...
165,https://www.linkedin.com/jobs/view/3728836506,About the job\n \n\n \nüè´ Job Opport...,Advertising Services\n \n ...
166,https://www.linkedin.com/jobs/view/3730420882,About the job\n \n\n \nAbout Tekrev...,Software Development\n \n ...
167,https://www.linkedin.com/jobs/view/3728854365,About the job\n \n\n \nResponsibili...,IT Services and IT Consulting\n \n ...
168,https://www.linkedin.com/jobs/view/3720367170,About the job\n \n\n \nTransPerfect...,Translation and Localization\n \n ...
169,https://www.linkedin.com/jobs/view/3723050636,About the job\n \n\n \nEleven Dev i...,Software Development\n \n ...

In [13]:
int(dir_list[0].split('_')[4].strip('-jobs'))

170

In [14]:
len(df_concat)

170

In [15]:
folder_path='Daily Job Description and compnay Details concatenated/'+path.split('/')[1]+'/'
folder_path

'Daily Job Description and compnay Details concatenated/1st Week 26 Sep-02 Oct/'

In [ ]:
if len(dir_list)>1:
    df_concat.to_csv(folder_path+file_names[0].split('-p1-')[0]+'.csv',index=False)
else:
    df=pd.read_csv(path+'/'+dir_list[0])
    df.to_csv(folder_path+dir_list[0].split('-p1-')[0]+'.csv',index=False)