In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time
import datetime

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://www.linkedin.com/login')
email_input = driver.find_element(By.ID, 'username')
password_input = driver.find_element(By.ID, 'password')
email_input.send_keys('hammad173216@gmail.com')
password_input.send_keys('@hammad40099257')
password_input.send_keys(Keys.ENTER)

In [4]:
path='Linkedin Job Links Daily Files/5th week 24 Oct -30 0ct/Linkedin_Job_Links_28-Oct-2023_369-jobs_16-pages.csv'

In [5]:
df=pd.read_csv(path)
df

,Job Title,Job ID,Job Link
0,Business Manager,3749008255,https://www.linkedin.com/jobs/view/3749008255/...
1,Operations Manager,3747976526,https://www.linkedin.com/jobs/view/3747976526/...
2,Webflow Developer,3748472577,https://www.linkedin.com/jobs/view/3748472577/...
3,Credentialing Analyst,3747979213,https://www.linkedin.com/jobs/view/3747979213/...
4,Data Entry Clerk Admin (Remote) Work From Home,3747956013,https://www.linkedin.com/jobs/view/3747956013/...
...,...,...,...
364,Sales Executive (no basic salary. only commis...,3747958130,https://www.linkedin.com/jobs/view/3747958130/...
365,Dotnet Developer,3748607289,https://www.linkedin.com/jobs/view/3748607289/...
366,DME Support Executive,3748480120,https://www.linkedin.com/jobs/view/3748480120/...
367,Laravel +Vue js Developer,3747956124,https://www.linkedin.com/jobs/view/3747956124/...
368,Business Development Executive/Officer,3748622908,https://www.linkedin.com/jobs/view/3748622908/...

In [6]:
df['Job Link']=df['Job ID'].apply(lambda x:'https://www.linkedin.com/jobs/view/'+str(x))

In [7]:
df

,Job Title,Job ID,Job Link
0,Business Manager,3749008255,https://www.linkedin.com/jobs/view/3749008255
1,Operations Manager,3747976526,https://www.linkedin.com/jobs/view/3747976526
2,Webflow Developer,3748472577,https://www.linkedin.com/jobs/view/3748472577
3,Credentialing Analyst,3747979213,https://www.linkedin.com/jobs/view/3747979213
4,Data Entry Clerk Admin (Remote) Work From Home,3747956013,https://www.linkedin.com/jobs/view/3747956013
...,...,...,...
364,Sales Executive (no basic salary. only commis...,3747958130,https://www.linkedin.com/jobs/view/3747958130
365,Dotnet Developer,3748607289,https://www.linkedin.com/jobs/view/3748607289
366,DME Support Executive,3748480120,https://www.linkedin.com/jobs/view/3748480120
367,Laravel +Vue js Developer,3747956124,https://www.linkedin.com/jobs/view/3747956124
368,Business Development Executive/Officer,3748622908,https://www.linkedin.com/jobs/view/3748622908

In [8]:
def save_scraper_note(starting_time,ending_time):
    file_name=path.split('/')[-1]
    x=datetime.datetime.now().strftime("%d-%m-%Y--%I-%M-%p")
    n_jobs=end_index-start_index
    with open(f'notes/Scrapper_note__{x}.txt', 'w',encoding='utf-8') as f:
        f.write(f'Job Details+Descriptions+Company info:\nFile Name:{file_name}\nStarting Time:{starting_time}\nEnding Time:{ending_time}\nStart Index:{start_index}\nEnd Index:{end_index}\nNumber of Jobs Scrapped:{n_jobs}')

In [9]:
start_index=0
end_index=len(df)
end_index

369

In [10]:
143+154

297

In [11]:
len(df)

369

In [12]:
data1 = []
data2 =[]
starting_time=datetime.datetime.now().strftime("%d-%m-%Y--%I-%M-%p-%S")
for job_link in (df['Job Link'].iloc[start_index:end_index]):
    driver.get(job_link)
    soup = BeautifulSoup(driver.page_source, 'html.parser')

    time.sleep(3) 
    
    try:
        job_title = soup.find('h1', class_='t-24 t-bold job-details-jobs-unified-top-card__job-title').get_text().strip()
    except (IndexError, AttributeError):
        job_title = None

    try:
        # job-details-jobs-unified-top-card__primary-description
        job_info = soup.find('div', class_='job-details-jobs-unified-top-card__primary-description-container').get_text().strip()
    except (IndexError, AttributeError):
        job_info = None
    try:
        job_type = soup.find_all('li', class_='job-details-jobs-unified-top-card__job-insight')[0].find('span').get_text().strip()
    except (IndexError, AttributeError):
        job_type = None
    try:
        employees = soup.find_all('li', class_='job-details-jobs-unified-top-card__job-insight')[1].find('span').get_text().strip()
    except (IndexError, AttributeError):
        employees = None
    try:
        desception = soup.find('div', class_='jobs-description-content__text--stretch').get_text().strip()
    except AttributeError:
        desception = None
    try:
        company_info = soup.find('div', class_='t-14 mt5').get_text().strip()
    except AttributeError:
        company_info = None
    

    data1.append({
        'Job Title': job_title,
        'Job Info': job_info,
        'Job Type': job_type,
        'Job Link':job_link,
        'employees':employees
    })
    data2.append({
        'Job Link':job_link,
        'Job Desception':desception,
        'Company Info':company_info
    })


ending_time=datetime.datetime.now().strftime("%d-%m-%Y--%I-%M-%p-%S")
save_scraper_note(starting_time,ending_time)


File_Name='Linkedin_Job_Details'+path.split('/')[-1].split('Links')[1]
saving_path='Linkedin Job Details Scrapped Files/'+path.split('/')[1]+'/'+File_Name
df2 = pd.DataFrame(data1)
df2.to_csv(saving_path, index=False)


File_Name='Linkedin_Job-Descriptions-company_details'+path.split('/')[-1].split('Links')[1]
saving_path='Linkedin Job Description and compnay info Scrapped Files/'+path.split('/')[1]+'/'+File_Name
df3 = pd.DataFrame(data2)
df3.to_csv(saving_path, index=False)



print(f'starting time of scrapper:{starting_time}')
print(f'Ending time of scrapper:{ending_time}')

starting time of scrapper:06-12-2023--10-16-AM-41
Ending time of scrapper:06-12-2023--11-09-AM-20

In [13]:
# ending_time=datetime.datetime.now().strftime("%d-%m-%Y--%I-%M-%p-%S")
# save_scraper_note(starting_time,ending_time)


# File_Name='Linkedin_Job_Details'+path.split('/')[-1].split('Links')[1]
# saving_path1='Linkedin Job Details Scrapped Files/'+path.split('/')[1]+'/'+File_Name
# df2 = pd.DataFrame(data1)
# df2.to_csv(saving_path1, index=False)
# # df2.iloc[:155].to_csv(saving_path1, index=False)


# File_Name='Linkedin_Job-Descriptions-company_details'+path.split('/')[-1].split('Links')[1]
# saving_path2='Linkedin Job Description and compnay info Scrapped Files/'+path.split('/')[1]+'/'+File_Name
# df3 = pd.DataFrame(data2)
# df3.to_csv(saving_path2, index=False)
# # df3.iloc[:155].to_csv(saving_path2, index=False)



# print(f'starting time of scrapper:{starting_time}')
# print(f'Ending time of scrapper:{ending_time}')

In [14]:
df2

,Job Title,Job Info,Job Type,Job Link,employees
0,None,None,None,https://www.linkedin.com/jobs/view/3749008255,None
1,Operations Manager,"Vision Consultany · Islamabad, Islāmābād, Paki...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3747976526,See how you compare to 234 applicants. Reactiv...
2,Webflow Developer,"CROJungle · Lahore District, Punjab, Pakistan ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3748472577,1-10 employees
3,Credentialing Analyst,"Pro MD Solutions LLC · Rawalpindi, Punjab, Pak...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3747979213,11-50 employees
4,None,None,None,https://www.linkedin.com/jobs/view/3747956013,None
...,...,...,...,...,...
364,Sales Executive (no basic salary. only commis...,"Capital Marketing · Islamabad, Islāmābād, Paki...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3747958130,11-50 employees
365,Dotnet Developer,"Croem Pakistan (Pvt.) Ltd. · Islamabad, Islāmā...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3748607289,11-50 employees
366,DME Support Executive,"Creative Minds Solutions Pvt. Ltd. · Karāchi, ...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3748480120,51-200 employees
367,Laravel +Vue js Developer,HR Ways - Hiring Tech Talent · Karachi Divisio...,On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3747956124,11-50 employees
368,Business Development Executive/Officer,"Cubical Geek · Karāchi, Sindh, Pakistan \n1 m...",On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3748622908,1-10 employees

In [15]:
df2.isnull().sum()

Job Title    8
Job Info     8
Job Type     8
Job Link     0
employees    8
dtype: int64

In [16]:
df2['Job ID']=df2['Job Link'].apply(lambda x:int(x.split('/')[5]))
len(df2['Job ID'].unique())

369

In [17]:
df3

,Job Link,Job Desception,Company Info
0,https://www.linkedin.com/jobs/view/3749008255,None,None
1,https://www.linkedin.com/jobs/view/3747976526,About the job\n \n \nCompany Descri...,None
2,https://www.linkedin.com/jobs/view/3748472577,About the job\n \n \nCompany Descri...,Design Services\n \n 2...
3,https://www.linkedin.com/jobs/view/3747979213,About the job\n \n \nRequirements: ...,IT Services and IT Consulting\n \n ...
4,https://www.linkedin.com/jobs/view/3747956013,None,None
...,...,...,...
364,https://www.linkedin.com/jobs/view/3747958130,About the job\n \n \nNo basic salar...,Real Estate\n \n 11-50...
365,https://www.linkedin.com/jobs/view/3748607289,About the job\n \n \nWe are looking...,None
366,https://www.linkedin.com/jobs/view/3748480120,About the job\n \n \nJob Title: DME...,"Technology, Information and Internet\n ..."
367,https://www.linkedin.com/jobs/view/3747956124,About the job\n \n \nAbout HR WaysH...,None
368,https://www.linkedin.com/jobs/view/3748622908,About the job\n \n \nJob Descriptio...,"Technology, Information and Media\n ..."

In [18]:
df3.isnull().sum()

Job Link           0
Job Desception     8
Company Info      91
dtype: int64

In [19]:
count_of_abnormal_desc=0
for i in range(0,len(df3)):
    try:
        if(len(df3.iloc[i]['Job Desception'])<20):
            print(df3.iloc[i])
            count_of_abnormal_desc=count_of_abnormal_desc+1
    except TypeError:
        print('non value')
if count_of_abnormal_desc==0:
    print("Not Found any uncomplete job descreption")

non value
non value
Job Link          https://www.linkedin.com/jobs/view/3747431776
Job Desception                                    About the job
Company Info                                               None
Name: 7, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3748680105
Job Desception                                    About the job
Company Info                                               None
Name: 22, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3661312558
Job Desception                                    About the job
Company Info                                               None
Name: 24, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3721003749
Job Desception                                    About the job
Company Info                                               None
Name: 26, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3702823596
Job Desception                                    About the job
Company Info                                               None
Name: 28, dtype: object
non value
non value
non value
Job Link          https://www.linkedin.com/jobs/view/3748440039
Job Desception                                    About the job
Company Info                                               None
Name: 69, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3745941563
Job Desception                                    About the job
Company Info                                               None
Name: 79, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3745945483
Job Desception                                    About the job
Company Info                                               None
Name: 84, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3748431349
Job Desception                                    About the job
Company Info                                               None
Name: 91, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3750354580
Job Desception                                    About the job
Company Info                                               None
Name: 118, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3733281127
Job Desception                                    About the job
Company Info                                               None
Name: 133, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3748440141
Job Desception                                    About the job
Company Info                                               None
Name: 143, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3745942782
Job Desception                                    About the job
Company Info                                               None
Name: 164, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3745943652
Job Desception                                    About the job
Company Info                                               None
Name: 170, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3744908789
Job Desception                                    About the job
Company Info                                               None
Name: 194, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3745940622
Job Desception                                    About the job
Company Info                                               None
Name: 224, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3745942870
Job Desception                                    About the job
Company Info                                               None
Name: 225, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3745944404
Job Desception                                    About the job
Company Info                                               None
Name: 227, dtype: object
non value
non value
Job Link          https://www.linkedin.com/jobs/view/3745941848
Job Desception                                    About the job
Company Info                                               None
Name: 246, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3748443075
Job Desception                                    About the job
Company Info                                               None
Name: 262, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3745944411
Job Desception                                    About the job
Company Info                                               None
Name: 263, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3745942826
Job Desception                                    About the job
Company Info                                               None
Name: 268, dtype: object
non value
Job Link          https://www.linkedin.com/jobs/view/3748415502
Job Desception                                    About the job
Company Info                                               None
Name: 273, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3745939891
Job Desception                                    About the job
Company Info                                               None
Name: 284, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3747968392
Job Desception                                    About the job
Company Info                                               None
Name: 322, dtype: object
Job Link          https://www.linkedin.com/jobs/view/3748489680
Job Desception                                    About the job
Company Info                                               None
Name: 354, dtype: object

In [20]:
count_of_abnormal_desc

26