In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time
import datetime

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://www.linkedin.com/login')
email_input = driver.find_element(By.ID, 'username')
password_input = driver.find_element(By.ID, 'password')
email_input.send_keys('hammad173216@gmail.com')
password_input.send_keys('@hammad40099257')
password_input.send_keys(Keys.ENTER)

In [4]:
path='Linkedin Job Links Daily Files/9th week 21 Nov -27 Nov/Linkedin_Job_Links_26-Nov-2023_699-jobs_29-pages.csv'

In [5]:
df=pd.read_csv(path)
df

,Job Title,Job ID,Job Link
0,Digital Marketing Manager,3715609021,https://www.linkedin.com/jobs/view/3715609021/...
1,Business Development Specialist,3767605356,https://www.linkedin.com/jobs/view/3767605356/...
2,Database Administrator,3765418250,https://www.linkedin.com/jobs/view/3765418250/...
3,Business Development Manager,3767375399,https://www.linkedin.com/jobs/view/3767375399/...
4,Data Entry Clerk Admin (Remote) Work From Home,3768299585,https://www.linkedin.com/jobs/view/3768299585/...
...,...,...,...
694,NaN,3767355025,NaN
695,NaN,3766809535,NaN
696,Information Security Specialist,3772530977,https://www.linkedin.com/jobs/view/3772530977/...
697,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,3771943212,https://www.linkedin.com/jobs/view/3771943212/...
698,Community Associate,3767944844,https://www.linkedin.com/jobs/view/3767944844/...

In [6]:
df['Job Link']=df['Job ID'].apply(lambda x:'https://www.linkedin.com/jobs/view/'+str(x))

In [7]:
def save_scraper_note(starting_time,ending_time):
    file_name=path.split('/')[-1]
    x=datetime.datetime.now().strftime("%d-%m-%Y--%I-%M-%p")
    n_jobs=end_index-start_index
    with open(f'notes/Scrapper_note__{x}.txt', 'w',encoding='utf-8') as f:
        f.write(f'File Name:{file_name}\nStarting Time:{starting_time}\nEnding Time:{ending_time}\nStart Index:{start_index}\nEnd Index:{end_index}\nNumber of Jobs Scrapped:{n_jobs}')

In [8]:
start_index=0
end_index=2

In [9]:
data = []
starting_time=datetime.datetime.now().strftime("%d-%m-%Y--%I-%M-%p-%S")
for job_link in (df['Job Link'].iloc[start_index:end_index]):
    driver.get(job_link)
    time.sleep(1)
    soup = BeautifulSoup(driver.page_source, 'html.parser')

    # time.sleep(2) 
    
    try:
        job_title = soup.find('h1', class_='t-24 t-bold job-details-jobs-unified-top-card__job-title').get_text().strip()
    except (IndexError, AttributeError):
        job_title = None

    try:
        job_info = soup.find('div', class_='job-details-jobs-unified-top-card__primary-description').get_text().strip()
    except (IndexError, AttributeError):
        job_info = None
    try:
        job_type = soup.find_all('li', class_='job-details-jobs-unified-top-card__job-insight')[0].find('span').get_text().strip()
    except (IndexError, AttributeError):
        job_type = None
    try:
        employees = soup.find_all('li', class_='job-details-jobs-unified-top-card__job-insight')[1].find('span').get_text().strip()
    except (IndexError, AttributeError):
        employees = None
    

    data.append({
        'Job Title': job_title,
        'Job Info': job_info,
        'Job Type': job_type,
        'Job Link':job_link,
        'employees':employees
    })
ending_time=datetime.datetime.now().strftime("%d-%m-%Y--%I-%M-%p-%S")
save_scraper_note(starting_time,ending_time)


File_Name='Linkedin_Job_Details'+path.split('/')[-1].split('Links')[1]
saving_path='Linkedin Job Details Scrapped Files/2nd Week 03 Oct-09 Oct/'+File_Name
df2 = pd.DataFrame(data)
# df2.to_csv(saving_path, index=False)



print(f'starting time of scrapper:{starting_time}')
print(f'Ending time of scrapper:{ending_time}')

starting time of scrapper:04-12-2023--10-34-PM-16
Ending time of scrapper:04-12-2023--10-35-PM-45

In [10]:
# ending_time=datetime.datetime.now().strftime("%d-%m-%Y--%I-%M-%p-%S")
# save_scraper_note(starting_time,ending_time)


# File_Name='Linkedin_Job_Details'+path.split('/')[-1].split('Links')[1]
# saving_path='Linkedin Job Details Scrapped Files/1st Week 26 Sep-02 Oct/'+File_Name
# df2 = pd.DataFrame(data)
# df2.to_csv(saving_path, index=False)



# print(f'starting time of scrapper:{starting_time}')
# print(f'Ending time of scrapper:{ending_time}')

In [10]:
df2

,Job Title,Job Info,Job Type,Job Link,employees
0,None,None,None,https://www.linkedin.com/jobs/view/3715609021,None
1,Business Development Specialist,None,On-site\n\n \nFull-time,https://www.linkedin.com/jobs/view/3767605356,1-10 employees

In [ ]:
### updating class name

In [11]:
driver.get('https://www.linkedin.com/jobs/view/3767605356')
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [14]:
# job_info = soup.find('div', class_='job-details-jobs-unified-top-card__primary-description').get_text().strip()
# job_info
# AttributeError: 'NoneType' object has no attribute 'get_text'

In [13]:
job_info = soup.find('div', class_='job-details-jobs-unified-top-card__primary-description-container').get_text().strip()
job_info

'Tensor Labs · Islāmābād, Pakistan  \n1 week ago\n\n · 225 applicants'

In [18]:
df2.isnull().sum()

Job Title    4
Job Info     4
Job Type     4
Job Link     0
employees    4
dtype: int64

In [11]:
df2['Job ID']=df2['Job Link'].apply(lambda x:int(x.split('/')[5]))

In [12]:
df2

,Job Title,Job Info,Job Type,Job Link,employees,Job ID
0,Celonis Process Mining Value Architec - Pakistan,"BAT · Islamabad, Islāmābād, Pakistan Reposted ...",Full-time · Entry level,https://www.linkedin.com/jobs/view/3715594145,"10,001+ employees · Tobacco Manufacturing",3715594145
1,"Lead Generation Manager, Technology & Data Str...","Banyan Software · Karachi Division, Sindh, Pak...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3698265932,"501-1,000 employees · Software Development",3698265932
2,"Senior Analyst, Logistics Operations","foodpanda · Karāchi, Sindh, Pakistan (On-site)...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3676486535,"5,001-10,000 employees · Internet Marketplace ...",3676486535
3,Sr. SDET Engineer,"Afiniti · Karachi Division, Sindh, Pakistan (O...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3631030811,"1,001-5,000 employees · Software Development",3631030811
4,Renewal Billing Data Analyst (Intern),"TCP Software · Lahore, Punjab, Pakistan (On-si...",Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3713019652,"501-1,000 employees · Software Development",3713019652
...,...,...,...,...,...,...
120,Associate Professor - Avionics Engineering,PAF-Karachi Institute of Economics & Technolog...,Full-time,https://www.linkedin.com/jobs/view/3730129568,201-500 employees,3730129568
121,Senior Full-Stack Engineer,Turing · Pakistan (Remote) Reposted \n1 week ...,Full-time · Mid-Senior level,https://www.linkedin.com/jobs/view/3728229354,"1,001-5,000 employees · IT Services and IT Con...",3728229354
122,Field Cameraman,"Topspot Media · Lahore, Punjab, Pakistan (On-s...",Full-time,https://www.linkedin.com/jobs/view/3729997591,11-50 employees,3729997591
123,Head Chef,"Emartes Continental · Sāhīwāl, Punjab, Pakist...",Full-time,https://www.linkedin.com/jobs/view/3729945656,Irfan Chughtai is hiring for this job,3729945656
124,Senior Full Stack Developer,"Markalytics · Islamabad, Islāmābād, Pakistan (...",Full-time,https://www.linkedin.com/jobs/view/3726906461,11-50 employees,3726906461

In [13]:
len(df2['Job ID'].unique())

125