In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time
import datetime

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://www.linkedin.com/login')
email_input = driver.find_element(By.ID, 'username')
password_input = driver.find_element(By.ID, 'password')
email_input.send_keys('hammad173216@gmail.com')
password_input.send_keys('@hammad40099257')
password_input.send_keys(Keys.ENTER)

In [4]:
path='Linkedin Job Links Daily Files/2nd Week 03 Oct-09 Oct/Linkedin_Job_Links_09-Oct-2023_334-jobs_14-pages.csv'

In [5]:
df=pd.read_csv(path)
df

,Job Title,Job ID,Job Link
0,Database Administrator,3734532098,https://www.linkedin.com/jobs/view/3734532098/...
1,Senior Python/Django Developer,3733813423,https://www.linkedin.com/jobs/view/3733813423/...
2,Senior Web Designer,3732886913,https://www.linkedin.com/jobs/view/3732886913/...
3,Content Marketing Associate,3733342934,https://www.linkedin.com/jobs/view/3733342934/...
4,Data Scientist,3735004247,https://www.linkedin.com/jobs/view/3735004247/...
...,...,...,...
329,Oracle Apps DBA - R12 (Full Customization),3734517227,https://www.linkedin.com/jobs/view/3734517227/...
330,"Engineer, Service-to-Service Fabric",3730554639,https://www.linkedin.com/jobs/view/3730554639/...
331,"Technical Product Manager (OTE $80,000/year US...",3731001750,https://www.linkedin.com/jobs/view/3731001750/...
332,Senior IOS Developer,3736179533,https://www.linkedin.com/jobs/view/3736179533/...
333,"Technical Product Manager (OTE $80,000/year US...",3731006178,https://www.linkedin.com/jobs/view/3731006178/...

In [6]:
df['Job Link']=df['Job ID'].apply(lambda x:'https://www.linkedin.com/jobs/view/'+str(x))

In [7]:
df

,Job Title,Job ID,Job Link
0,Database Administrator,3734532098,https://www.linkedin.com/jobs/view/3734532098
1,Senior Python/Django Developer,3733813423,https://www.linkedin.com/jobs/view/3733813423
2,Senior Web Designer,3732886913,https://www.linkedin.com/jobs/view/3732886913
3,Content Marketing Associate,3733342934,https://www.linkedin.com/jobs/view/3733342934
4,Data Scientist,3735004247,https://www.linkedin.com/jobs/view/3735004247
...,...,...,...
329,Oracle Apps DBA - R12 (Full Customization),3734517227,https://www.linkedin.com/jobs/view/3734517227
330,"Engineer, Service-to-Service Fabric",3730554639,https://www.linkedin.com/jobs/view/3730554639
331,"Technical Product Manager (OTE $80,000/year US...",3731001750,https://www.linkedin.com/jobs/view/3731001750
332,Senior IOS Developer,3736179533,https://www.linkedin.com/jobs/view/3736179533
333,"Technical Product Manager (OTE $80,000/year US...",3731006178,https://www.linkedin.com/jobs/view/3731006178

In [8]:
def save_scraper_note(starting_time,ending_time):
    file_name=path.split('/')[-1]
    x=datetime.datetime.now().strftime("%d-%m-%Y--%I-%M-%p")
    n_jobs=end_index-start_index
    with open(f'notes/Scrapper_note__{x}.txt', 'w',encoding='utf-8') as f:
        f.write(f'Job Descriptions and Company info:\nFile Name:{file_name}\nStarting Time:{starting_time}\nEnding Time:{ending_time}\nStart Index:{start_index}\nEnd Index:{end_index}\nNumber of Jobs Scrapped:{n_jobs}')

In [9]:
start_index=239
end_index=len(df)
end_index

334

In [22]:
239+94

333

In [10]:
150+88

238

In [11]:
data = []
starting_time=datetime.datetime.now().strftime("%d-%m-%Y--%I-%M-%p-%S")
for job_link in (df['Job Link'].iloc[start_index:end_index]):
    driver.get(job_link)
    time.sleep(2) 
    soup = BeautifulSoup(driver.page_source, 'html.parser') 

    try:
        desception = soup.find('div', class_='jobs-description-content__text--stretch').get_text().strip()
    except AttributeError:
        desception = None
    try:
        company_info = soup.find('div', class_='t-14 mt5').get_text().strip()
    except AttributeError:
        company_info = None
    

    data.append({
        'Job Link':job_link,
        'Job Desception':desception,
        'Company Info':company_info
    })

ending_time=datetime.datetime.now().strftime("%d-%m-%Y--%I-%M-%p-%S")

save_scraper_note(starting_time,ending_time)


File_Name='Linkedin_Job-Descriptions-company_details'+path.split('/')[-1].split('Links')[1]
saving_path='Linkedin Job Description and compnay info Scrapped Files/'+path.split('/')[1]+'/'+File_Name
df2 = pd.DataFrame(data)
df2.to_csv(saving_path, index=False)


print(f'starting time of scrapper:{starting_time}')
print(f'Ending time of scrapper:{ending_time}')

starting time of scrapper:21-10-2023--04-15-PM-05
Ending time of scrapper:21-10-2023--04-34-PM-43

In [12]:
# ending_time=datetime.datetime.now().strftime("%d-%m-%Y--%I-%M-%p-%S")

# save_scraper_note(starting_time,ending_time)


# File_Name='Linkedin_Job-Descriptions-company_details'+path.split('/')[-1].split('Links')[1]
# saving_path='Linkedin Job Description and compnay info Scrapped Files/'+path.split('/')[1]+'/'+File_Name
# df2 = pd.DataFrame(data)
# df2.to_csv(saving_path, index=False)


# print(f'starting time of scrapper:{starting_time}')
# print(f'Ending time of scrapper:{ending_time}')

starting time of scrapper:21-10-2023--04-15-PM-05
Ending time of scrapper:21-10-2023--04-34-PM-44

In [21]:
df2

,Job Link,Job Desception,Company Info
0,https://www.linkedin.com/jobs/view/3731968839,About the job\n \n\n \nCrossover is...,IT Services and IT Consulting\n \n ...
1,https://www.linkedin.com/jobs/view/3731966987,About the job\n \n\n \nCrossover is...,IT Services and IT Consulting\n \n ...
2,https://www.linkedin.com/jobs/view/3734719696,About the job\n \n\n \nPosition: Az...,Business Consulting and Services\n ...
3,https://www.linkedin.com/jobs/view/3723013929,About the job\n \n\n \nCrossover is...,IT Services and IT Consulting\n \n ...
4,https://www.linkedin.com/jobs/view/3731971268,About the job\n \n\n \nCrossover is...,IT Services and IT Consulting\n \n ...
...,...,...,...
90,https://www.linkedin.com/jobs/view/3734517227,About the job\n \n\n \nJob Summary:...,Business Consulting and Services\n ...
91,https://www.linkedin.com/jobs/view/3730554639,About the job\n \n\n \nOverviewWork...,Software Development\n \n ...
92,https://www.linkedin.com/jobs/view/3731001750,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...
93,https://www.linkedin.com/jobs/view/3736179533,About the job\n \n\n \nAbout Ekar C...,"Transportation, Logistics, Supply Chain and St..."
94,https://www.linkedin.com/jobs/view/3731006178,About the job\n \n\n \nAre you a hi...,IT Services and IT Consulting\n \n ...

'About the job' this null value

In [14]:
count_of_abnormal_desc=0
for i in range(0,len(df2)):
    try:
        if(len(df2.iloc[i]['Job Desception'])<20):
            print(df2.iloc[i])
            count_of_abnormal_desc=count_of_abnormal_desc+1
    except TypeError:
        print('non value')
if count_of_abnormal_desc==0:
    print("Not Found any uncomplete job descreption")

non value
non value
non value
non value
Not Found any uncomplete job descreption

In [15]:
count_of_abnormal_desc

0

In [16]:
df2.isnull().sum()

Job Link          0
Job Desception    4
Company Info      5
dtype: int64

In [17]:
df2[df2['Job Desception'].isnull()]

                                         Job Link Job Desception Company Info
60  https://www.linkedin.com/jobs/view/3735938582           None         None
69  https://www.linkedin.com/jobs/view/3735942025           None         None
71  https://www.linkedin.com/jobs/view/3735939231           None         None
77  https://www.linkedin.com/jobs/view/3735939239           None         None

In [18]:
df2[df2['Company Info'].isnull()]

,Job Link,Job Desception,Company Info
60,https://www.linkedin.com/jobs/view/3735938582,None,None
69,https://www.linkedin.com/jobs/view/3735942025,None,None
71,https://www.linkedin.com/jobs/view/3735939231,None,None
77,https://www.linkedin.com/jobs/view/3735939239,None,None
87,https://www.linkedin.com/jobs/view/3731001246,About the job\n \n\n \nAre you a we...,None